.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

h2 {
  margin: 0 0 40px;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.board {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.cell {
  align-items: center;
  background-color: #fff;
  border: 0;
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 0;
  padding: 15px;
  position: relative;
  width: 100px;
}

.cell:not(:disabled) {
  cursor: pointer;
}

.cell-o:before {
  border-radius: 50%;
  border: 8px solid #f00;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

.cell-x:before, .cell-x:after {
  background-color: #00f;
  border-radius: 10px;
  content: '';
  display: block;
  height: calc(100% - 15px);
  position: absolute;
  width: 10px;
}

.cell-x:before {
  rotate: 45deg;
}

.cell-x:after {
  rotate: -45deg;
}

.restart-game {
  margin: 40px 0 0;
}
